<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>State Management System</title>
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">State Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/state}">State Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class = "container">
		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center">Create New State</h1>
				<div class="card-body">
					<form th:action="@{/state}" th:object="${state}" method="POST">
						<div class="form-group">
							<label>State Code</label>
							<input
							type="text"
							name="state_code"
							th:field="*{state_code}"
							class="form-control"
							placeholder="Enter State Code"
							/>
						</div>
						
						<div class="form-group">
							<label>State</label>
							<input
							type="text"
							name="state_name"
							th:field="*{state_name}"
							class="form-control"
							placeholder="Enter State"
							/>
						</div>
						
						<div class="form-group">
							<label>Country</label>
							<select class="form-control" id="dropDownList" name="country_code">
    						
    						<option th:each="country_name : ${country_name}" th:value="${country_name.id}" th:text="${country_name.country_name}"></option>
							</select>
						</div>
						
						<!-- <div class="form-group">
							<label>Country Code</label>
							<select class="form-control" id="dropDownList" name="country_code">
    						
    						<option th:each="id : ${id}" th:value="${country_id}" th:text="${country_id}"></option>
							</select>
						</div> -->
						
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>