<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>City Management System</title>
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">City Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/city}">City Management</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<br>

<div class = "container">
		<div class = "row">
			<div class = "col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
				<h1 class = "text-center">Create New City</h1>
				<div class="card-body">
					<form th:action="@{/city}" th:object="${city}" method="POST">
						<div class="form-group">
							<label>City Code</label>
							<input
							type="text"
							name="city_code"
							th:field="*{city_code}"
							class="form-control"
							placeholder="Enter City Code"
							/>
						</div>
						
						<div class="form-group">
							<label>City</label>
							<input
							type="text"
							name="city_name"
							th:field="*{city_name}"
							class="form-control"
							placeholder="Enter city"
							/>
						</div>
						
						<div class="form-group">
							<label>District</label>
							<select class="form-control" id="dropDownList" name="district_code">
    						
    						<option th:each="district_name : ${district_name}" th:value="${district_name.id}" th:text="${district_name.district_name}"></option>
							</select>
						</div>
						<!-- 
						<div class="form-group">
							<label>District Code</label>
							<select class="form-control" id="dropDownList" name="district_code">
    						
    						<option th:each="district_code : ${district_code}" th:value="${district_code.district_code}" th:text="${district_code.district_code}"></option>
							</select>
						</div> -->
						
						<div class="box-footer">
							<button type="submit" class="btn btn-primary">
								Submit
							</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
</html>