<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Region Management System</title>
<link rel="stylesheet" 
href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" 
crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">Region Management System</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href="@{/region}">Region Management</a>
      </li>
    </ul>
  </div>
</nav>
	<div class="container">
		<div class = "row">
			<h1>List Region</h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href="@{/region/new}" class ="btn btn-primary btn_sm mb-3"> Add Region</a>
			</div>
		</div>
		
		<table class="table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th>Region Code</th>
					<th>Region</th>
					<th>State</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="region: ${region}">
					<td th:text="${region.region_code}"></td>
					<td th:text="${region.region_name}"></td>
					<td th:text="${region.state_name}"></td>
					<td>
						<a th:href="@{/region/edit/{id}(id=${region.id})}"
						 class="btn btn-primary">Edit</a>
						 <a th:href="@{/region/{id}(id=${region.id})}"
						 class="btn btn-danger">Delete</a>
					</td>	
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>